@import "tailwindcss";

@theme {
  --font-serif: "Segoe UI", Arial, sans-serif;
  --font-sans: "Segoe UI", Arial, sans-serif;
}

@layer base {
  html {
    color-scheme: light;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }

  ::selection {
    @apply bg-red-600 text-white;
  }
}
